LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=mssql-query-project
LANGSMITH_ENDPOINT=https://langsmith.aks-ur-plg-internal.8451.cloud

MSSQL_SERVER=
MSSQL_DATABASE=
MSSQL_USERNAME=
MSSQL_PASSWORD=
MSSQL_DRIVER=ODBC Driver 18 for SQL Server
MSSQL_AUTHENTICATION=ActiveDirectoryIntegrated
MSSQL_QUERY=SELECT @@VERSION AS sql_server_version
